<p id="notice"><%= notice %></p>

<p>
  <strong>Hero Type:</strong>
  <%= @car.hero_type %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @car.hp %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
