<p class="text-center" id="notice"><%= notice %></p>
<table class="table">
	<tr>
	  <th class="text-center">Color</th>
      <th class="text-center">Hp</th>
      <th class="text-center">Model</th>
      <th class="text-center">Price</th>
      <th class="text-center">Stock</th>
	</tr>
	<tr class="text-center">
		<td>
		  <%= @car.color %>
		</td>

		<td>
		  <%= @car.hp %>
		</td>

		<td>
		  <%= @car.model %>
		</td>
		<td>
		  <%= @car.price %>
		</td>

		<td>
		  <%= @car.stock %>
		</td>
		<td>
		
		 </td>
	</tr>
</table>

<ul class="list-inline pull-right" >
  <li><%= link_to 'Edit', edit_car_path(@car) %> </li>
  <li><%= link_to 'Back', cars_path %></li>
</ul>