<!DOCTYPE html>
<html>
<head>
  <title>Sv</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
>>>>>>> f8df8d3ea436027881e25fa728f8d93a0d3d35bf
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
